<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="GearStack | The best community for discovering new music gear!" />
    <meta name="keywords" content="Music, Music Gear, Music Instruments, Music Equipment, Reviews" />
    <title>GearStack | The best community for discovering new music gear!</title>
</head>
<body>
<h1>GearStack</h1>
<h2>Website under development!</h2>
</body>
</html>